* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("candado2.png");
    background-size: cover;
    background-repeat: no-repeat; 
}

.container {
    background-color: #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
}

h1 {
    margin-bottom: 20px;
}

.password-output {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#password {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
}

#copy-btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#copy-btn:hover {
    background-color: #0056b3;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#clear-btn {
    background-color: #dc3545;
}

#clear-btn:hover {
    background-color: #c82333;
}

.strength {
    margin-top: 15px;
}

#strength-indicator {
    font-size: 1.2rem;
}

#strength-value {
    font-weight: bold;
    color: #007bff;
}
